.header {
	padding: 50px 60px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDE2E7;
}

.header__logo {
    a {
        color: #000;
        text-decoration: none;
        transition: color .2s ease-in;
    
        &:hover {
            color: var(--accent);
            }
    }
}


.header__btns {
    display: flex;
    align-items: center;
    gap: 45px;
}