.comments
    .comments__title 
        h2.title-2 Other comments:
    +comment("Nina Ricci", "Locavore keffiyeh kickstarter fashion axe vaporware, fam vexillologist chambray +1 gastropub man braid leggings aesthetic literally lumbersexual.", "user-01.jpg")
    +comment("Joe Campbel", "Tumblr wolf whatever single-origin coffee, unicorn you probably haven't heard of them raw denim narwhal aesthetic gochujang air plant.")
    +comment("Luke Besson", "Umami typewriter celiac, blue bottle flexitarian 3 wolf moon flannel pabst gentrify four dollar toast vinyl shabby chic enamel pin cardigan.")
    +comment("Tim Hemdrix", "Wayfarers try-hard crucifix, neutra paleo yr williamsburg. Austin heirloom stumptown migas art party freegan prism cold-pressed air plant tattooed keytar plaid.", "user-02.jpg")
    +comment("Walt Bezos", "Before they sold out palo santo organic shabby chic four loko farm-to-table 8-bit bitters. Green juice pug migas cloud bread, 90's kickstarter stumptown shabby chic try-hard typewriter.", "user-03.jpg")  