form.comment-form
    .comment-form__title 
        h2.title-2 Comment it:
    .comment-form-row
        textarea.textarea(placeholder="Flannel bicycle rights chicharrones tacos craft beer blog messenger bag. Vexillologist brooklyn wolf raclette celiac readymade gluten-free.")
    .comment-form-row
        input(class="input input--name", type="text", placeholder="Your name")
        input(class="input input--email", type="email", placeholder="Email")
        input(class="input input--homepage", type="url", placeholder="Homepage")
    button.btn-comment(type="submit") comment
