header.header
   .header__social
      +social([
         { link: "#!", className: "insta" },
         { link: "#!", className: "tw" },
         { link: "#!", className: "fb" },
      ])

   .header__logo 
      a(href="index.html").logo Hipsum Blog
      
   .header__btns
      .header__btns-search
         button.btn-search
            svg.svg-search 
               use(href="./img/svgSprite.svg#svg-search")
      .header__btns-subscribe 
         button.btn-rounded subscribe