+widget("Recent posts")
  +post-widget("01.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
  +post-widget("02.jpg", "Vinyl hexagon tbh selvage chambray street art", "december 12, 2019 — 2 comments")
  +post-widget("03.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones", "december 08, 2019 — 2 comments")
  +post-widget("04.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin", "november 28, 2019 — 12 comments")
  +post-widget("05.jpg", "Minim ad austin tousled gluten-free", "november 17, 2019 — 22 comments")