.share-icons
    a(href="#!").share-icons.item
        svg.svg-wa 
            use(href="./img/svgSprite.svg#svg-wa")
    a(href="#!").share-icons.item
        svg.svg-insta 
            use(href="./img/svgSprite.svg#svg-insta")
    a(href="#!").share-icons.item
        svg.svg-tw 
            use(href="./img/svgSprite.svg#svg-tw")
    a(href="#!").share-icons.item
        svg.svg-fb 
            use(href="./img/svgSprite.svg#svg-fb")