mixin widget(title, ...items) 
    .widget 
        .widget__title #{title}  
        .widget-instagram 
            each item in items 
                +widget-instagram-item(item)

+widget("Instagram", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10")