:root {
	--container-width: 1200px;

	--font-main: 'Montserrat', sans-serif;
    --font-title: 'Playfair Display', serif;
    --font-header: 'Exo 2', sans-serif;

	--page-bg: #fff;
    --btn-bg:  #375573;
	--footer-bg: #DDE2E7;
    --footer-bottom-bg: #E8EBEE;
	--text-color: #181818;
	--text-white: #fff;
	--text-muted: #8E9399;
    --text-grey: #B7BABE;
	--accent: #E84C50;

}