.btn-rounded {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 11px 40px 12px;
    height: 38px;

    border-radius: 50px;

    background-color: var(--btn-bg);

    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: lighten(#375573, 20%);
    }
}