.btn-comment {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 40px;
    height: 52px;

    border-radius: 6px;

    background-color: var(--btn-bg);

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: lighten(#375573, 20%);
    }
}