.post-widget {
    padding: 30px 0 40px;
    text-align: center;
}

.post-widget:not(:last-child) {
    border-bottom: 1px solid #DDE2E7;
}

.post-widget__img {
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 40px;   
        object-fit: cover;
    }
}

.post-widget__title {
    margin-bottom: 15px;

    a {
        color: #000;

        &:hover {
            color: var(--accent);
            text-decoration: underline;
        }
    }
}
